@import "../styles/variables.css";


.hero-section {
    display: flex;
    position: relative;
    padding: 4vw 8vw 12vw 8vw;
}

.hero-text-container {
    width: 100%;
    margin-top: 4vw;
}

.hero-img-container {
    position: absolute;
    width: 35rem;
    z-index: -2;
    height: 15rem;
    transform: rotateY(180deg) ;
    left: -5rem;
    align-self: flex-end;
}

.body-dark .hero-img-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--mainColorDark));
    z-index: 0;
}

.body-light .hero-img-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--thirdColorLight));
    z-index: 0;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-description {
    margin-top: 4vw;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textColorViolet);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 10px;
    margin-top: 8vw;
    transition: all .5s;
    font-size: 4vw;
}

.cta-btn p {
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--mainColorLight) !important;
}

.cta-btn:hover, .cta-btn:focus {
    cursor: pointer;
    background-color: var(--detailsColor3);
    transition: all .5s;
}

.home-middle-section {
    
    color: var(--textColorDark);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.body-light .home-middle-section {
    background-color: rgb(237, 236, 255);
}

.body-dark .home-middle-section {
    background-color: var(--thirdColorDark);
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
    padding: 3rem .5rem;
    overflow: visible;
}

.bulletpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
    border-radius: 15px;
    padding: 8vw;
    
}

.body-dark .bulletpoint {
    background-color: #3d3f53;
    color: var(--textColorLight);
    box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75), -13px -13px 40px -21px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75), -13px -13px 40px -21px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75), -13px -13px 40px -21px rgba(0, 0, 0, 0.75);
}

.body-light .bulletpoint {
    background-color: white;
    box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75), -3px -3px 40px -21px rgba(40,67,125,0.75);
        -webkit-box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75), -3px -3px 40px -21px rgba(40,67,125,0.75);
        -moz-box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75), -3px -3px 40px -21px rgba(40,67,125,0.75);
}

.bulletpoint:nth-child(odd) {
    text-align: justify;
    
}

.bulletpoint:nth-child(even) {
    text-align: justify;
    flex-direction: column-reverse;
}

.bulletpoint__img-container {
    width: 6rem;
}

.bulletpoint__img {
    width: 100%;
}

@media (min-width: 768px) {

    .hero-section {
        padding: 3rem 10rem 6rem 10rem;
    }

    .hero-text-container {
        width: 65%;
        right: 0;
        margin-top: 0;
    }

    .hero-img-container {
        width: 65rem;
        height: 30rem;
        right: 10rem;
        transform: rotateY(180deg);
        align-self: center;
        right: 5rem;
        overflow: hidden;
        left: auto;
    }

    .body-dark .hero-img-container:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0), var(--mainColorDark));
        z-index: 1;
    }

    .body-light .hero-img-container:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0), var(--thirdColorLight));
        z-index: 1;
    }

    .hero-img {
        height: 100%;
    }

    .hero-title {
        font-size: 5vw;
        font-weight: 800;
    }

    .hero-description {
        font-size: 1.5vw;
        line-height: 2.5vw;
        width: 85%;
        font-weight: 300;
        margin-top: 2vw;
    }
    
    .cta-btn {
        font-size: 1.5vw;
        margin-top: 2vw;
        padding: 1rem 2rem;
    }

    .home-middle-section {
        padding: 3rem;
        font-size: 1.2vw;
    }

    .section-container {
        width: 60%;
        padding: 6rem 0;
    }

    .bulletpoint {
        flex-direction: row;
        gap: 2vw;
        padding: 2rem 3rem;
    }

    .body-dark .bulletpoint {
        box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.75);
    }

    .body-light .bulletpoint {
        box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75);
        -webkit-box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75);
        -moz-box-shadow: 13px 13px 40px -21px rgba(40,67,125,0.75);
    }

    .bulletpoint:nth-child(even) {
        text-align: justify;
        flex-direction: row;
    }

    .bulletpoint__img-container {
        width: 12vw;
    }

    .bulletpoint__img {
        width: 100%;
    }
}