@import "../styles/variables.css";



.products-screen-container {
    overflow: visible;
}

.products-section-container {
    min-height: 80vh;
    overflow: visible !important;
    margin-bottom: 5rem;
    border-radius: 15px;
}

.body-light .products-section-container {
    background-color: white;
    box-shadow: 0 0 .375rem .25rem rgba(161,172,184,.15);
}

.body-dark .products-section-container {
    background-color: var(--footerColor);
    box-shadow: 0 0 .375rem .25rem rgba(0,0,0,.15);
}

.filter-bar-container, .search-input {
    width: 100%;
}

.filter-bar-container {
    margin: 2rem 0;
}

.search-input {
    height: 4rem;
    border-radius: 10px;
    border-style: none;
    outline-style: none;
    padding: 1rem;
    transition: all .5s;
    font-size: 1rem;
}

.body-light .search-input {
    background-color: white;
    box-shadow: 0 0 .375rem .25rem rgba(161,172,184,.15);
    color: var(--footerColor);
}

.body-dark .search-input {
    background-color: var(--footerColor);
    box-shadow: 0 0 .375rem .25rem rgba(0,0,0,.15);
    color: var(--mainColorLight);
}

.search-input:focus, .search-input:hover {
    border: 2px solid var(--detailsColor4);
    transition: border .5s;
}

.products-container {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.table-head-container {
    height: 4vw;
    background-color: var(--mainColor5);
    color: var(--thirdColorLight);
}

.table-row {
    text-align: center;
    height: 3vw;
}

.body-light .table-row:hover {
    background-color: var(--softTone2);
    color: var(--footerColor);
    transition: all .5s;
}

.body-dark .table-row:hover {
    background-color: var(--softTone1);
    color: var(--footerColor);
    transition: all .5s;
}

.price-col-head {

}

@media (min-width: 768px) {

}